.screenshot_box {
    border: 1px solid #dfe7f7;
    width: 100%;
    padding: 20px;
    margin: 10px;
    border-radius: 23px;
}
    #shortcode_collection_id
    {
        height : 120px;
    }
    
    #main_shortcode_button
{
    right : 0px;
}