
/*
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700');
@import url('https://fonts.googleapis.com/css?family=Vollkorn:400,600,700,900');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800');

*/
/*
#52c1bc
#3d4166
#c6cedf
*/
@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-Medium.woff2') format('woff2'),
        url('../fonts/Comme-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-SemiBold.woff2') format('woff2'),
        url('../fonts/Comme-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-Light.woff2') format('woff2'),
        url('../fonts/Comme-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-Thin.woff2') format('woff2'),
        url('../fonts/Comme-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-Regular.woff2') format('woff2'),
        url('../fonts/Comme-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Comme';
    src: url('../fonts/Comme-Bold.woff2') format('woff2'),
        url('../fonts/Comme-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Droid Sans';
    src: url('fonts/DroidSans-Bold.woff2') format('woff2'),
        url('fonts/DroidSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Droid Sans';
    src: url('../fonts/DroidSans.woff2') format('woff2'),
        url('../fonts/DroidSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body {
    /*font-family: 'Muli', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    font-family: 'Open Sans', sans-serif;*/
    font-family: 'Lato', sans-serif;
    background-color: #c6cedf45;
}

.date-box{
    display: -webkit-inline-box;
    margin-bottom: 20px;
}
.date-box img{
    margin-top: 7px;
    margin-left: 10px;
}
.note{
    font-size: 13px;
    margin-top: 5px;
    float: left;
    margin-bottom: 18px;
}

.margin-left{
    margin-left: 20px;
}
.title_option{
    margin-top: 10px;
}
.dateformat_option{
    margin-top: 10px;
}
.app_status{
    margin-top: 10px;
}
.datepicker_label,.help_accordians{
    margin-top: 10px;
}
.cuttofftime_box{
    display: inline-block;
}
.cutoff_lable{
    display: inline-block;
}
label[for=minute]{
    margin-bottom: 0px;
}
label[for=hours]{
    margin-bottom: 0px;
}
#main-date{
    margin-top: 20px;
}
.display_block{
    display: inline-block;
}
.order_note{
    margin-top: 10px;
    margin-bottom: 5px;
}
.navbar-default {
    border-color: #4890c1;
    background-color: #4890c1;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #2b709e;
    font-weight: 400;
    font-size: 17px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    font-weight: 400;
    font-size: 17px;
}

input.btn.btn-info.margin-left {
    color: #fff;
    background-color: #4890c1;
    border-color: #4890c1;
    width: 100px;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #fff;
    background-color: transparent;
}

input.btn.btn-info.margin_zero {
    color: #fff;
    background-color: #4890c1;
    border-color: #4890c1;
    width: 100px;
}

input.btn.btn-info.margin-left.formatbutton_header {
    background-color: #2b709e;
    width: 70px;
    box-shadow: 1px 1px 1px #2f5169;
}

.form-group a.addrow {
    text-decoration: none;
    cursor: pointer;
    background-color: #52c1bc;
    color: #fff;
    padding: 10px 18px;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 700;
}

.addrow i{margin-right: 6px;}

a.removerow {
    cursor: pointer;
}

.navbar {
    border-radius: 0;
}

input#reset_button {
    background: #4890c1;
    border-color: #4890c1;
}
strong,b{color: #33475b;font-size: 16px;font-weight: 600;}
.form-control{height: 40px;}
.cuttofftime_box select{width: 75px;}
a.dt-button.buttons-csv.buttons-html5 {
    background: #4890c1;
    text-decoration: none;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #4890c1;
    border-color: #4890c1;
}

/*---------------order export----------*/
.dt-buttons{
    margin: 0px;
    display: inline-block;
    text-align: right;
    float: right;
}
.dt-buttons a{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    padding: 8px 12px;
    margin-bottom: 0px;
    border: 1px solid transparent;
    border-radius: 4px;
}
.date_format
{
    width: auto;
    display: inline-block;
}
.dateformat_box
{
    display: inline-block;
    position: absolute;
    right: 0;
    top: 7px;
    width:40%;
}
.margin-left
{
    margin-left: 10px;
}
.dataTables_filter
{
    /*float: left;
    margin-bottom: 5px;
    display:none;*/
}
#min{
    width: 20%;
}
#max{	
    width: 20%;
}
#example_filter{
    display: inline-block;
}
.customfilter_box{
    display: inline-block;
    text-align: left;
}

#start_label, #end_label{
    font-weight: 700;
    margin: 10px;
}

#headerformat_label{
    display: inline-block;
    color: white;
    margin-right: 10px;
    padding-top: 7px;
}
#reset_button{
    margin-right: 10px;
    display: inline-block;
    text-align: left;
}
#content{
    display: inline-block;
}
#reset_button{
    display: inline-block;
}
.formatbutton_header{
    display: inline-block;
    height: auto !important;
}
.formcolor .form-control{
    /*margin-top: 6px;*/
    box-shadow: none;
    border-radius: 3px; 
    border: 1px solid #cbd6e2;
    font-size: 15px;
    background-color: #f5f8fa;color: #33475b;
}
.input-sm{
    width: 112px !important;
}
#export{
    display: none;
}
#display_field{
    width: 80% !important;
}
.margin_zero{
    margin: 0px;
}
input.form-control.input-sm {
    margin-left: 10px;  		
}
.copystyle_wrapper{
    position: relative;
}
.copycss_button{
    position: absolute;
    right: 0px;
    top: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    font-weight: 600;
}

btn#copy_script {
    background-color: #52c1bc;
    border-color: #52c1bc;
}

btn#copy_popup {
    background-color: #52c1bc;
    border-color: #52c1bc;
}

/* dashboard */


.formcolor {
    position: relative;
    overflow: hidden;
    margin-top: 25px;
    margin-bottom: 35px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 20px;
}
.block_days select{
    padding: 0;
}
.block_days select option{
    padding: 5px 15px;
}
.block_days select:-internal-list-box option:checked{
    background-color: #e5f5f8 !important;
}
.sub-heading {
    margin: 0 0 20px 0;
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 900;
    color: #3d4166;
}
.formcolor a b{color: #52c1bc; font-weight: 700;}
h2.sub-heading.subleft {
    padding-left: 0;
}

.shortcode-note,.help_accordians ul{
    padding-left: 20px;list-style-image:url(../image/icon.png);
    font-size: 16px;
}

.dd-help{
    font-size: 28px;
    font-weight: 800;
    color: #3d4166;
    margin-bottom: 18px;
    margin-top: 10px;
}

.dd-help-ul{
    list-style: none;
    padding: 15px 25px;
    background-color: #f5f8fa;
    border: 1px solid #cbd6e2;
    border-radius: 3px;
}

.ul-help{
    padding-left: 20px;
}
.top-marquee{
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    padding: 10px;
}

/*checkbox design*/

.checkboxFive label {

    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 20px;
    top: 0;
    left: 0;
    background: transparent;
    border-radius: 6px;
    border: 2px solid #52c1bc;
}

/*input[type=checkbox]{visibility: hidden;}*/

.checkboxFive{position: relative; width: 27px; height: 27px;float: left;}

.checkboxFive label:after {

    opacity: 0;

    content: '';

    position: absolute;

    width: 10px;
    height: 7px;
    background: transparent;
    top: 3px;
    left: 3px;
    border: 3px solid #fff;

    border-top: none;

    border-right: none;

    -webkit-transform: rotate(-45deg);

    -moz-transform: rotate(-45deg);

    -o-transform: rotate(-45deg);

    -ms-transform: rotate(-45deg);

    transform: rotate(-45deg);

}

.checkboxFive input[type=checkbox]:checked + label:after{opacity: 1;}
.checkboxFive input[type=checkbox]:checked + label{background-color: #52c1bc;}
/*toogle design*/

.onoff {
    margin-left: -27px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    zoom: 1;
    *display: inline;
    position: relative;
    cursor: pointer;
    width: 62px;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    font-family: inherit;
    float: right;

}


.onoff label {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: #c6cedf;
    border-radius: 50px;
    font-weight: bold;
    color: #FFF;
    -webkit-transition: background 0.3s, text-indent 0.3s;
    -moz-transition: background 0.3s, text-indent 0.3s;
    -o-transition: background 0.3s, text-indent 0.3s;
    transition: background 0.3s, text-indent 0.3s;
    text-indent: 27px;

}
.onoff label:after {
    content: 'NO';
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    font-size: 14px;
    color: #ffffff;
    z-index: 1;
    font-weight: 700;
}
.onoff label:before {
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #FFF;
    position: absolute;
    z-index: 2;
    top: 5px;
    left: 4px;
    display: block;
    -webkit-transition: left 0.3s;
    -moz-transition: left 0.3s;
    -o-transition: left 0.3s;
    transition: left 0.3s;

}
.onoff input:checked + label {
    background: #52c1bc;
    text-indent: 8px;
}
.onoff input:checked + label:after {
    content: 'YES';
    color: #ffffff;
    left: 1px;
}
.onoff input:checked + label:before {
    left: 38px;
}
/* for top marquee */
.marquee {
    width: auto;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
}
.marquee span {
    display: inline-block;
    padding-left: 100%;
    text-indent: 0;
    animation: marquee 80s linear infinite;
}
.marquee span:hover {
    animation-play-state: paused
}
/*==================================*/
.datepicker_validate{
    margin-bottom: 16px;
    margin-top: 16px;
    float: left;
    width: 100%;
}
.margin_bottom_0,.formcolor .display_block .form-control{
    margin-bottom: 0;
}
/*===================help page================*/

.dd-help-ul li{
    line-height: 24px;
}
.dd-help-ul li span{    
    font-size: 16px;
    font-weight: 600;
    width: 100px;
    float: left;
    color: #33475b;
}
.help_page .copycss_button{right: 15px;top: 6px;}
.help_accordians .panel-default{

    border:0;
    box-shadow: none;
    border-radius: 3px; 
}
.help_accordians .panel-default .panel-heading{
    background-color:  rgba(221, 226, 236, 0.6);
    padding: 18px 15px;
    border-radius: 0px;
    cursor: pointer;
}
.need_help{padding-bottom: 15px;
           margin-bottom: 10px;}
.panel-title p{margin: 0;}
.panel-group .panel-heading+.panel-collapse>.panel-body{border:0;}
.panel-body{
    box-shadow: inset 0px 0px 5px 1px #dde2ec;
    margin-bottom: 10px;
    color: #33475b;
    padding: 25px 20px;
    font-size: 16px;
}
.help_accordians ul li{
    padding-left: 5px;
    line-height: 26px;
}
.panel-title span{font-size: 18px;}
.version_update_section{
    float: left;width: 100%;
    padding-top: 40px;padding-bottom: 30px;
}
.feature_box{
    border: 1px solid #52c1bc;border-radius: 3px;float: left;
    width: 100%;
}
.feature_box h3{font-size: 21px;
                padding: 15px;
                margin: 0;
                border-bottom: 1px solid #52c1bc;
                background: #52c1bc;
                color: #fff;
                font-weight: 600;
}
.verison_no{    
    padding: 2px 8px;
    background-color: #3d4166;
    color: #fff;
    font-size: 13px;
    border-radius: 5px;
    margin-left: 5px;
    position: relative;
    top: -3px; }
.feature_block{
    padding: 20px 15px;
    float: left;
}
.version_block{
    float: left;
    padding-bottom: 20px;padding-top: 20px;
    width: 100%;
}
.feature_block div{
    float: left;
    width: 100%;
    padding-bottom: 3px;
    padding-top: 10px;
    background: #f5f8fa;
    margin-bottom: 5px;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}

.feature_text{
    font-size: 16px;padding-left: 15px;padding-right: 15px;padding-bottom: 15px;
}
.version_date{text-align: right;position: relative;}
.version_details{background-color: #f5f8fa;border-left:1px solid #cbd6e2;padding-top: 8px;padding-bottom: 8px;}
.version_details ul li{line-height: 25px;padding: 3px 12px;
                       margin-bottom: 5px;}
.version_details ul li:first-child,.version_details ul li:last-child{background-color: #fff;border:1px solid #cbd6e2;}
.version_details ul{padding-left: 20px;padding-top: 10px;list-style: none;}
.version_details_2 ul li{border:1px solid #cbd6e2;}
a:hover{text-decoration: none;}
.version_date i{
    background-color: #c6cedf;
    right: -15px;
    padding: 5px;
    color: #fff;
    cursor: pointer;
}
/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

/* For Orders Datatable */
.slide_down{
    background:#dde2ec;padding:10px;cursor:pointer;
}

.slide_down i{
    right:10px;	
    position:absolute;
}

#shortcode_info{
    background:#dde2ec;padding:10px;display:none
}
