#loadingbackground {
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000000000;
    opacity: 0.9;
}

#loadingDiv {
    display: block;
    height: 200px;
    width: 200px;
    position: fixed;
    z-index: 10000;
    top: 45%;
    left: 45%;
    background: url('https://shopifydev.anujdalal.com/dev_metafields/public/image/loader.gif');
    
}
/*.custom_collection_fields {
    border: 1px solid #ddd;
    margin-bottom: 5px;
    width: 50%;
    margin: 5px auto;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.custom_collection_fields span {
    padding: 10px 15px;
}
.custom_collection_fields span:nth-of-type(2) {
    width: auto;
}
.custom_collection_fields span:first-child {
    width: 40%;
    border-right: 1px solid #ddd;
    font-weight: 600;
}*/
